{% extends 'base.html.twig' %}

{% block title %}Feuille de personnage{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/character-sheet.css') }}" rel="stylesheet">
{% endblock %}

{% block container %}
    <div class="d-flex justify-content-around">
        <div>Identité : {{ characterSheet.name }}</div>
        <div>Métier : </div>
    </div>
    <div class="row cs-sheet">
        <div class="col-md-12" >
            <div class="cs-page-a">
                <div class="row cs-dark-green">
                    <h3>COMPÉTENCES</h3>
                    <div class="col-lg-6">
                    {% for characterZodiac in characterSheet.characterZodiacs %}
                        {% set title = loop.first or loop.index == 7 %}
                        <div class="row justify-content-end">
                            <div class="col-4 cs-cell-title pl-2">
                                {{ characterZodiac.zodiac.name|upper  }}
                            </div>
                            <div class="col-1 cs-cell-title">
                            </div>
                            <div class="col-2 text-center {{ title ? 'cs-cell-title ' }} ml-1">
                                {{ title ? 'Base' }}
                            </div>
                            <div class="col-2 text-center {{ title ? 'cs-cell-title ' }} ml-1">
                                {{ title ? 'Valeur' }}
                            </div>
                        </div>
                        {% for characterSkill in characterSheet.characterSkills  if characterSkill.skill.zodiac == characterZodiac.zodiac %}
                            <div class="row cs-row-content justify-content-end ">
                                {% if loop.index == 2 %}
                                    <div class="col-1 text-center mr-1 cs-b">
                                        {{ characterZodiac.level }}
                                    </div>
                                {% endif %}
                                <div class="col-4 pl-2 cs-typped-font">
                                    {{ characterSkill.skill.name|capitalize }}{{ characterSkill.skill.domainRelated ? '*' }}
                                </div>
                                <div class="col-1 text-center cs-typped-font">
                                    {{ characterSkill.skill.open ? 'o' : 'f' }}
                                </div>
                                <div class="col-2 text-center ml-1">
                                    {{ characterSkill.level }}
                                </div>
                                <div class="col-2 text-center ml-1">
                                    {{ characterSkill.level + characterZodiac.level }}
                                </div>
                            </div>
                        {% endfor %}
                        {% if loop.index == 6 %}
                    </div>
                    <div class="col-lg-6">
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
                <div class="row cs-dark-green mt-4">
                    <h3>COMPÉTENCES</h3>
                </div>
                <div class="row mt-4 d-flex justify-content-between">
                    <div class="col-5 pr-4">
                        <div class="cs-dark-green p-4">
                            <h3>RESSOURCES</h3>
                        </div>
                    </div>
                    <div class="col-7 cs-dark-green p-4"><h3>LIGNES DE VIE</h3></div>
                </div>

            </div>
        </div>
        <div class="col-md-12">
            <div class="cs-page-b mt-5">
                <div class="row">
                    <div class="col-6 pr-4">
                        <div class="row cs-brown" >
                            <h3>Theme astral</h3>
                            <div class="col-12" >

                                Archétype : ............<br>
                                Affinité : .............<br>
                            </div>
                            <div class="col-6" >
                                Ascendants :<br>
                                ..........<br>
                                ..........
                            </div>
                            <div class="col-6" >
                                Descendants :<br>
                                ..........<br>
                                ..........<br>
                                ..........
                            </div>

                        </div>
                    </div>
                    <div class="col-6">
                        <div class="col-12 cs-brown" >
                            <h3>Vie antérieure</h3>
                            .......................................
                        </div>
                        <div class="col-12 cs-brown mt-4" >
                            <h3>Experience</h3>
                            .......................................
                        </div>

                    </div>
                </div>
                <div class="b-red d-flex justify-content-between align-items-center" style="height: 400px;">

                    <div class="cs-trinite b-red">
                        <h4>Deva</h4>
                        Choeur : ............<br>
                        Karma : .............<br>
                        Dette : ............<br>
                        Crédits : .............<br>
                    </div>
                    <div class="cs-trinite align-self-end b-red">
                        <h4>Adam'</h4>
                        Karma : ............<br>
                    </div>
                    <div class="cs-trinite b-red">
                        <h4>Archonte</h4>
                        Légion : ............<br>
                        Karma : .............<br>
                        Dette : ............<br>
                        Crédits : .............<br>
                    </div>

                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="col-12 ">
                            <div class="row">
                                <div class="col-12" >
                                    <h4>Le grand livre</h4>
                                </div>
                                <div class="col-6" >
                                    Versets de lumiere :<br>
                                    ....................<br>
                                    ....................<br>
                                    ....................<br>
                                    ....................<br>
                                    ....................<br>
                                </div>
                                <div class="col-6" >
                                    Versets de tenebres :<br>
                                    ....................<br>
                                    ....................<br>
                                    ....................<br>
                                    ....................<br>
                                    ....................<br>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 ">
                            <div class="row">
                                <div class="col-12">
                                    <h4>Le zodiaque</h4>
                                </div>
                                <div class="col-4">Auras</div>
                                <div class="col-2">Corps</div>
                                <div class="col-2">Main</div>
                                <div class="col-2">Epee</div>
                                <div class="col-2">Oeuil</div>

                                {% for i in 0..4 %}

                                <div class="col-4">..............</div>
                                <div class="col-2">O</div>
                                <div class="col-2">O</div>
                                <div class="col-2">O</div>
                                <div class="col-2">O</div>

                                {% endfor %}


                            </div>
                        </div>
                    </div>
                    <div class="col-4 ">
                        <div class="row">
                            <div class="col-12">
                            <h4>La lame-soeur</h4>
                                Messager : ...........<br>
                                Degats : 4<br>
                                Description :<br>
                                .......................<br>
                                .......................<br>
                                .......................<br>
                                .......................<br>
                                <br>
                                Atouts<br>
                                .......................<br>
                                .......................<br>
                                .......................<br>
                                .......................<br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
{% endblock %}
