{# @var characterSheet \App\Entity\PlayerCharacter #}

{% extends 'base.html.twig' %}

{% block title %}Feuille de personnage{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/character-sheet.css') }}" rel="stylesheet">
{% endblock %}

{% block container %}

    <div class="d-flex justify-content-around">
        <div>Identité : {{ characterSheet.name }}</div>
        <div>Métier : </div>
    </div>
    <div class="row cs-sheet">
        <div class="col-md-12" >
            <div class="cs-page-a">
                <div class="row cs-dark-green">
                    <h3>COMPÉTENCES</h3>
                    <div class="col-lg-6">
                    {% for zodiac in zodiacs %}
                        {% set title = loop.first or loop.index == 7 %}
                        <div class="row justify-content-end">
                            <div class="col-4 cs-cell-title pl-2">
                                {{ zodiac.name|upper  }}
                            </div>
                            <div class="col-1 cs-cell-title">
                            </div>
                            <div class="col-2 text-center {{ title ? 'cs-cell-title ' }} ml-1">
                                {{ title ? 'Base' }}
                            </div>
                            <div class="col-2 text-center {{ title ? 'cs-cell-title ' }} ml-1">
                                {{ title ? 'Valeur' }}
                            </div>
                        </div>
                        {% for characterSkill in characterSheet.characterSkills  if characterSkill.skill.zodiac == zodiac %}
                            <div class="row cs-row-content justify-content-end ">
                                {% if loop.index == 2 %}
                                    <div class="col-1 text-center mr-1 cs-b cs-hw">
                                        <span id="zodiac-{{ zodiac.id }}" >{{ characterSheet.zodiacLevel( zodiac ) }}</span>
                                    </div>
                                {% endif %}
                                <div class="col-4 pl-2">
                                    {{ characterSkill.skill.name|capitalize }}{{ characterSkill.skill.domainRelated ? '*' }}
                                </div>
                                <div class="col-1 text-center">
                                    {{ characterSkill.skill.open ? 'o' : 'f' }}
                                </div>
                                <div class="col-2 text-center ml-1 cs-hw">
                                    <a href="#" class="cs-skill-button" data-skill-id="{{ characterSkill.skill.id }}" data-zodiac-id="{{ zodiac.id }}" data-skill-act="sub" >-</a>
                                    <span id="skill-{{ characterSkill.skill.id }}">{{ characterSkill.level }}</span>
                                    <a href="#" class="cs-skill-button" data-skill-id="{{ characterSkill.skill.id }}" data-zodiac-id="{{ zodiac.id }}" data-skill-act="add" >+</a>
                                </div>
                                <div class="col-2 text-center ml-1 cs-hw">
                                    <span id="skill-total-{{ characterSkill.skill.id }}">{{ characterSheet|skillTotal( characterSkill.skill ) }}</span>
                                </div>
                            </div>
                        {% endfor %}
                        {% if loop.index == 6 %}
                    </div>
                    <div class="col-lg-6">
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
                <div class="row cs-dark-green mt-4">
                    <h3>DOMAINES*</h3>
                </div>
                <div class="row mt-4 d-flex justify-content-between">
                    <div class="col-5 pr-4">
                        <div class="cs-dark-green p-4">
                            <h3>RESSOURCES</h3>
                        </div>
                    </div>
                    <div class="col-7 cs-dark-green p-4"><h3>LIGNES DE VIE</h3></div>
                </div>

            </div>
        </div>
        <div class="col-md-12">
            <div class="cs-page-b mt-5">
                <div class="row">
                    <div class="col-6 pr-4">
                        <div class="row cs-brown" >
                            <h3>Theme astral</h3>
                            <div class="col-12" >
                            <ul>
                                <li>Archétype :<span class="cs-hw cs-sub cs-sub-15">{{ characterSheet.archetype.name }}</span></li>
                                <li>Affinité : <span class="cs-hw cs-sub cs-sub-15"></span></li>
                            </ul>
                            </div>
                            <div class="col-6" >
                                <ul>
                                    <li>Ascendants :</li>
                                    {% for ascendant in characterSheet.ascendants %}
                                        <li class="cs-hw cs-sub">{{ ascendant.name }}</li>
                                    {% endfor %}
                                </ul>

                            </div>
                            <div class="col-6" >
                                <ul>
                                    <li>Descendants :</li>
                                    {% for descendant in characterSheet.descendants %}
                                        <li class="cs-hw cs-sub">{{ descendant.name }}</li>
                                    {% endfor %}
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-6">
                        <div class="col-12 cs-brown" >
                            <h3>Vie antérieure</h3>
                            .......................................
                        </div>
                        <div class="col-12 cs-brown mt-4" >
                            <h3>Experience</h3>
                            .......................................
                        </div>

                    </div>
                </div>
                <div class="cs-trinite-sheet d-flex justify-content-between align-items-center" >

                    <div class="cs-trinite">
                        <h4>Deva</h4>
                        Choeur : ............<br>
                        Karma : .............<br>
                        Dette : ............<br>
                        Crédits : .............<br>
                    </div>
                    <div class="cs-trinite align-self-end">
                        <h4>Adam'</h4>
                        Karma : ............<br>
                    </div>
                    <div class="cs-trinite">
                        <h4>Archonte</h4>
                        Légion : ............<br>
                        Karma : .............<br>
                        Dette : ............<br>
                        Crédits : .............<br>
                    </div>

                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="col-12 pr-4">
                            <div class="row cs-brown " >
                            <h3>Le grand livre</h3>

                            <div class="col-6" >
                                <ul>
                                    <li>Versets de lumiere :</li>
                                    {# @var verse \App\Entity\Verse #}
                                    {% for verse in characterSheet|itemsOwned('Verse') if verse.karma %}
                                        <li class="cs-hw cs-sub" >{{ verse.name }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-6" >
                                <ul>
                                    <li>Versets de tenebre :</li>
                                    {# @var verse \App\Entity\Verse #}
                                    {% for verse in characterSheet|itemsOwned('Verse') if not verse.karma %}
                                        <li class="cs-hw cs-sub" >{{ verse.name }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            </div>
                        </div>
                        <div class="col-12 pt-4 pr-4">
                            <div class="row cs-brown">
                                <h3>Le zodiaque</h3>
                                <div class="col-4">Auras</div>
                                <div class="col-2">Corps</div>
                                <div class="col-2">Main</div>
                                <div class="col-2">Epee</div>
                                <div class="col-2">Oeuil</div>

                                {# @var aura \App\Entity\Aura #}
                                {% for aura in characterSheet|itemsOwned('Aura') %}

                                <div class="col-4 cs-hw cs-sub">{{ aura.name }}</div>
                                <div class="col-2">O</div>
                                <div class="col-2">O</div>
                                <div class="col-2">O</div>
                                <div class="col-2">O</div>

                                {% endfor %}


                            </div>
                        </div>
                    </div>
                    <div class="col-4 ">
                        <div class="row cs-brown">
                            <h3>La lame-soeur</h3>
                            <div class="col-12">
                            Messager : ...........<br>
                            Degats : 4<br>
                            Description :<br>
                            .......................<br>
                            .......................<br>
                            .......................<br>
                            .......................<br>
                            <br>
                            </div>
                            <div class="col-12">
                            <ul>
                                <li>Atouts :</li>
                                {# @var asset \App\Entity\Asset #}
                                {% for asset in characterSheet|itemsOwned('Asset') %}
                                    <li class="cs-hw cs-sub">{{ asset.name }}</li>
                                {% endfor %}
                            </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/character-sheet.js') }}"></script>
{% endblock %}
