{% extends 'base.html.twig' %}

{% block title %}Feuille de personnage{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-6">
                {% set title = true %}
                {% for characterZodiac in characterSheet.characterZodiacs %}
                    {#<div class="float-left">{{ characterZodiac.level }}</div>#}
                    <div class="row justify-content-end">
                        <div class="col-4 cell-title">
                            {{ characterZodiac.zodiac.name|upper  }}
                        </div>
                        <div class="col-1 cell-title">
                        </div>
                        <div class="col-2 {{ title ? 'cell-title' }} ml-1">
                            {{ title ? 'Base' }}
                        </div>
                        <div class="col-2 {{ title ? 'cell-title' }} ml-1">
                            {{ title ? 'Valeur' }}
                        </div>
                    </div>
                    {% for characterSkill in characterSheet.characterSkills  if characterSkill.skill.zodiac == characterZodiac.zodiac %}
                    <div class="row row-content justify-content-end ">
                        {% if loop.index == 2 %}
                        <div class="col-1 text-center mr-1">
                            {{ characterZodiac.level }}
                        </div>
                        {% endif %}
                        <div class="col-4">
                            {{ characterSkill.skill.name|capitalize }}{{ characterSkill.skill.domainRelated ? '*' }}
                        </div>
                        <div class="col-1 text-center">
                            {{ characterSkill.skill.open ? 'o' : 'f' }}
                        </div>
                        <div class="col-2 text-center ml-1">
                            {{ characterSkill.level }}
                        </div>
                        <div class="col-2 text-center ml-1">
                            {{ characterSkill.level + characterZodiac.level }}
                        </div>
                    </div>
                    {% endfor %}

                {% if loop.index == 6 %}
                    {% set title = true %}
                </div>
                <div class="col-6">
                {% else %}
                    {% set title = false %}
                {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-6">ok</div>
    </div>
{% endblock %}
