{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block container %}

    {% if item.writer == srv.user.character %}
        <a href="{{  path( route ~ '.edit', { 'itemSlug': item.slug }) }}" class="btn btn-success" > éditer </a>
    {% endif %}

        <h1>{{ item }}</h1>

        <p>Signe : {{ item.sign }}</p>
        <p>Description :<br> {{ item.description }}</p>
        <p>Souffle :<br> {{ item.breath }}</p>



{% endblock %}