{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block container %}
    {% set character = user.character %}

    {% if item.writer == user.character %}
        <a href="{{  path( route ~ '.edit', { 'itemSlug': item.slug }) }}" class="btn btn-success" > éditer </a>
    {% endif %}


    <h1>{{ item }}</h1>

        <p>Nom : {{ item.name }}</p>
        <p>Citation :<br> {{ item.quote }}</p>
        <p>Karma : {{ item.karma ? 'lumiere' : 'obscurité'}}</p>
        <p>Durée : {{ item.duration }}</p>
        <p>Portée : {{ item.verseRange }}</p>
        <p>Aire d'effet : {{ item.area }}</p>
        <p>Cumul : {{ item.stackable is null ? '-' : item.stackable ? 'oui' : 'non' }}</p>
        <p>Description :<br> {{ item.description }}</p>
        <p>Adam: {{ item.adam.name }}</p>

{% endblock %}