{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block container %}


    <h1>Bienvenue </h1>

    Campagnes Maitrisées:
    <ul>
        {% for campaign in mastered_campaigns %}
            <li><a href="{{ path('main.campaign.index', { 'campaignSlug' : campaign.slug }) }}">{{ campaign.name }}</a></li>
        {% endfor %}
    </ul>
    Personnages Joués:
    <ul>
    {% for campaign in played_campaigns %}
        {% for character in campaign.characters if character.user.id == app.user.id %}
            <li>{{ campaign.name }} : <a href="{{ path('player.character.index', { 'characterSlug' : character.slug }) }}">{{ character.name }}</a></li>
        {% endfor %}
    {% endfor %}
    </ul>

{% endblock %}
